html {
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article,aside,figure,footer,header,hgroup,nav,section {
    display: block;
}

_header {
    height: 75px;
    background-color: rgb(44, 160, 241);
    margin: 10px 0px;          
	background : radial-gradient(#2CA0F1, #0F7CC7); 
}

#searchclear {
    position: absolute;
    right: px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.customized-header {
	margin: 5px 1px 10px;		
	padding: 0; 	
    background-color: rgb(44, 160, 241);
    background : radial-gradient(#2CA0F1, #0F7CC7);
	height: 75px;
}

.headPart {	
	margin : 1% 5% 0;
	font-size: xx-large;
	color: #353538;
}

.makeReservation {
	font-size: 30px;
	text-align: center;
}

#GuestOwnerButtonContainer {
	border : 1px black;
	width: 50%;
	margin: 5px auto;
}

.customizedbtnhref{
	font-size: 20px;
	background-color: blue;
}

.guestFormToCenter{
	margin: 10px 25%;
	padding: 5px 0 0 0;
	width: 50%;	
}

.imageSlide{
	width: 400px;
	height: 400px;
}

#headPart h1{
    color: white;    
}

.guestOwner {
    float: left;
    font-size: 1.2em;
    padding-right : 10px;
}

.guestOwner a{
    text-decoration : none;
}

.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}