<style>
	.error{
		
		font-size: 0.9;
		color: red;
		padding: 0;		
	}
</style>

<form class="form-horizontal guestFormToCenter" name="GuestForm" novalidate>

	<div class="form-group">
	    <label class="col-sm-2 control-label">Name</label>    
		<div class="col-sm-10">
			<input type="text" name="Name" class="form-control" data-ng-model="newGuest.Name" placeholder="Name" required>
			<p data-ng-show="GuestForm.Name.$invalid && !GuestForm.Name.$pristine" class="help-block error">You name is required.</p>
		</div>
    </div>
   		
    <div class="form-group">
	    <label class="col-sm-2 control-label">Date</label>
	    <div class="col-sm-10">    	
      		<input type="date" name="Date" class="form-control" data-ng-model="newGuest.Date" required>
      	     <p data-ng-show="GuestForm.Date.$invalid && !GuestForm.Date.$pristine" class="help-block error">Date is required.</p>
      	</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Time</label>
	    <div class="col-sm-10">    	
      	     <input type="time" name="Time" class="form-control" data-ng-model="newGuest.Time" required>
      	     <p data-ng-show="GuestForm.Time.$invalid && !GuestForm.Time.$pristine" class="help-block error">Time is required.</p>
      	</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Phone</label>
	    <div class="col-sm-10">    	
      		<input type="text" name="Number" class="form-control" data-ng-model="newGuest.Number" data-ng-minlength="3" data-ng-maxlength="8">
			<p data-ng-show="GuestForm.Number.$error.minlength" class="help-block error">Number is too short.</p>
  			<p data-ng-show="GuestForm.Number.$error.maxlength" class="help-block error">Number is too long.</p>
   		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Party Size</label>
	    <div class="col-sm-10">    	
			<input type="text" name="Size" class="form-control" data-ng-model="newGuest.Size">
		</div>
	</div>
	
	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
      		<button type="submit" class="btn btn-default" ng-disabled="GuestForm.$invalid" data-ng-click="gCtrl.sendForm(newGuest)">Reserve</button>
    	</div>
  	</div>
</form>
<!-- http://jonsamwell.com/dynamic-angularjs-validation/ -->
<!-- <div data-ng-show="GuestForm.Name.$dirty">
			<p class="error" data-ng-show="GuestForm.Name.$error.required">UserName is required</p>
</div> -->
